<%
/**
 * @typedef {object} Reference
 * @property {string} reference Reference description
 * @property {string} name Reference author name
 *
 * [Section] References
 * @param {array.<Reference>} references
 */
%>

<% if (references && Array.isArray(references) && references.length > 0) { %>
  <section id="references" class="row">
    <aside class="col-sm-3">
      <h3>References</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <% references.forEach((reference) => { %>
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span><%= reference.name %></span>
              <span class="date"><%= this.prettyDate(reference.date) %></span>
            </h4>
            <div class="summary">
              <p><%- reference.reference %></p>
            </div>
            <% if (reference.url)  { %>
            <div class="website pull-right">
              <a target="_blank" href="<%= reference.url %>"><%= reference.url %></a>
            </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
<% } %>
